<%- contentFor('body') %>

<h3>Sobre Trenós</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Atque, velit tempore. Cumque dolorem adipisci eaque, 
    maiores minima nulla asperiores tempora saepe quas, 
    iste sapiente sit quae cupiditate tenetur repellendus eveniet!</p>